* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #523014;
    --primary-background: #F7F3EB;
    --secondary-background: hsl(40, 43%, 91%);
    --dark-background: #2F281E;
    --hover-background: hsl(39, 42%, 97%);
    --gold: #B88A43;
}

body {
    font-family: "Vazirmatn", sans-serif;
    background-color: var(--primary-background);
    color: var(--text-color);
}

.ltr {
    direction: ltr;
    unicode-bidi: isolate;
}

.text_gold {
    color: var(--gold);
}

.text-color-brown {
    color: var(--text-color);
}


.nav-link:hover {
    color: #B88A43;
}

.line {
    height: 1px;
    width: 100%;
    border-top: 1px solid var(--gold);
}

.gold_btn {

    text-decoration: none;
    color: var(--primary-background);
    background-color: var(--gold);
    padding: 15px 20px;
    border-radius: 7px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.3s;
}

.gold_btn:hover {
    background-color: hsl(36, 47%, 40%);
    color: var(--primary-background);
}

/* main nav */
.side_btn {
    cursor: pointer;
    transition-duration: 0.3s;
}

.side_btn:hover {
    color: var(--gold);
}

.main_nav {
    border-bottom: 2px solid rgb(184, 138, 67, 0.2);
}

.search_box {
    border: 1px solid hsl(0, 0%, 80%);
    height: 50px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
}

.search_box:focus {
    outline: 1px solid var(--gold);
}

.search_btn {
    background-color: white;
    border-color: hsl(0, 0%, 80%);
    border-right: transparent;
    border-radius: 20px;
    transition-duration: 0.3s;
}

.search_btn:focus {
    background-color: var(--hover-background);
    outline: 1px solid var(--gold);
    border: 1px solid hsl(0, 0%, 80%);
    border-right: 0;
}

.search_btn:hover {
    border-color: hsl(0, 0%, 80%);
    background-color: var(--hover-background) !important;
}

.extra_navlinks {
    text-decoration: none;
    color: var(--gold);
    transition-duration: 0.3s;
}

.extra_navlinks:hover {
    color: var(--text-color);
}


/*  mini nav */
.mini_nav {
    background: rgba(47, 40, 30, 0.95);
    backdrop-filter: blur(8px);
    color: var(--gold);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.3s ease;
    width: 100%;

    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
}

.mini_nav.show {
    transform: translate3d(0, 0, 0);
}

.side_btn_mini:hover {
    cursor: pointer;
    color: var(--primary-background);
    transition-duration: 0.3s;
}

.search_box_mini {
    border: 1px solid hsl(0, 0%, 80%);
    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
}

.search_box_mini:focus {
    outline: 1px solid var(--gold);
}

.search_btn_mini {
    background-color: white;
    border-color: hsl(0, 0%, 80%);
    border-right: transparent;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.search_btn_mini:focus {
    background-color: var(--hover-background);
    outline: 1px solid var(--gold);
    border: 1px solid hsl(0, 0%, 80%);
    border-right: 0;
}

.nav_link_mini:hover {
    color: var(--secondary-background);
}

.search_btn_mini:hover {
    border-color: hsl(0, 0%, 80%);
    background-color: var(--hover-background) !important;
}

.extra_navlinks_mini {
    text-decoration: none;
    color: var(--gold);
    transition-duration: 0.3s;
}

.extra_navlinks_mini:hover {
    color: var(--secondary-background);
}


/* filter  */
#filterByPriceBtn {
    background-color: var(--gold);
    color: var(--primary-background);
}
#filterByPriceBtn:hover{
    background-color: hsl(36, 47%, 43%);
}

.product_filter_title {
    border: 2px solid rgb(184, 138, 67, 0.1);
    border-radius: 5px;
}

.filter_size_link {
    color: var(--text-color);
    padding: 5px 0px;
    display: flex;
    align-items: baseline;
}

.filter_color_link {
    font-size: 14px;
    color: var(--text-color);
    padding: 3px 0px;
    display: flex;
    align-items: baseline;
}

.price_label {
    color: var(--text-color);
}

.accordion-item {
    background-color: transparent;
    border: 2px solid rgb(184, 138, 67, 0.1)
}

.accordion-button {
    background-color: transparent !important;
    color: var(--text-color) !important;
}

/* breadcrumb  */
.breadcrumb {
    font-size: 14px;
}

.breadcrumb a {
    color: var(--text-color);
    transition-duration: 0.3s;
}

.breadcrumb a:hover {
    color: gray;
}

/* products  */
.products_box_header_item {
    border: 2px solid rgb(184, 138, 67, 0.1);
    border-radius: 5px;
    padding: 8px;
    background-color: transparent;
    color: var(--text-color);
}

.product_card {
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;
    border: 1px solid rgba(187, 139, 68, 0.15);
    transition-duration: 0.3s;
    position: relative;
}

.product_card:hover {
    border-color: var(--gold);
    color: var(--text-color);
    background-color: var(--hover-background);
}

.product_img_container {
    background-color: rgba(187, 139, 68, 0.15);
    border-radius: 5px;
    height: 300px;
    overflow: hidden;
}

.product_img {
    height: 320px;
    transition: transform 0.4s ease;
}

.product_img:hover {
    transform: scale(1.15);
}

.wishlist_icon_container {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px;
    border-radius: 40px;
    background-color: rgb(247, 243, 235, 0.6);
    backdrop-filter: blur(1px);
    transition-duration: 0.3s;
}


.wishlist_icon_container:hover {
    background-color: rgb(247, 243, 235, 0.9);
}

/* contact us */
.contact_us_phone {
    border-radius: 40px;
    border: 1px solid var(--gold);
}

.map iframe {
    border-radius: 8px;
}

.map {
    border: 2px solid hsl(40, 43%, 88%);
    border-radius: 8px;
}

/* footer  */
footer {
    background-color: var(--dark-background);
    color: var(--primary-background);
    overflow: hidden;
    z-index: 0;
}

.footer_links .footer_link_item {
    text-decoration: none;
    color: var(--primary-background);
    transition-duration: 0.3s;
}

.footer_links .footer_link_item:hover {
    color: var(--gold);
}

footer .footer_links_col {
    border-left: 1px solid rgb(184, 138, 67, 0.2);
}

.footer_links_social .social_link_item {
    font-size: 25px;
    text-decoration: none;
    color: var(--gold);
    transition-duration: 0.3s;
}

.footer_links_social .social_link_item:hover {
    color: var(--primary-background);
}

.social_link_item div {
    padding: 10px;
    border-radius: 40px;
    border: 1px solid var(--gold);
}

.footer_bottom {
    border-top: 2px solid rgb(184, 138, 67, 0.4);
}

.footer_background1 {
    filter: opacity(0.2);
    z-index: -1;
}

.footer_background2 {
    filter: opacity(0.2);
    transform: rotate(180deg);
    z-index: -1;
}


/* side bar  */
.side_bar_container {
    width: 100%;
    z-index: 1000;
    height: 100vh;

    transform: translate3d(100%, 0, 0);
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.side_bar_container.show {
    transform: translate3d(0, 0, 0);
}

.side_bar {
    background-color: var(--secondary-background);
}



/* ----------------responsive------------ */
@media (max-width: 1199.98px) {
    .filter_size_link {
        font-size: 14px;
    }

    .price_number {
        font-size: 12px;
    }
}

@media (max-width: 991.98px) {

    /* main nav  */
    .brand_name h1 {
        font-size: 32px;
    }

    .brand_name span {
        font-size: 13px;
    }

    .logo img {
        width: 50px;
    }


}

@media (max-width: 767.98px) {
    .brand_name h1 {
        font-size: 28px;
    }

    .brand_name span {
        font-size: 12px;
    }

    .logo img {
        width: 47px;
    }

    /* contact us  */
    .contact_us_title {
        font-size: 20px !important;
    }

    .contact_us_detail {
        font-size: 14px !important;
    }

    /* footer  */
    .footer_links_col:last-child {
        border-left: 0;
    }

    .footer_background1 {
        top: 20% !important;
    }

    .footer_background2 {
        top: 20% !important;
    }
}

@media (max-width: 575.98px) {

    /* main nav  */
    .brand_name h1 {
        font-size: 24px;
        margin-bottom: 3px;
    }

    .brand_name span {
        font-size: 12px;
    }

    .logo img {
        width: 45px;
    }


    /* products  */
    .product_img_container {
        height: 180px;
        width: 120px;
        background-color: transparent;
        z-index: 300;
    }

    .product_img {
        height: auto;
        width: 100%;
    }

    .product_body_title {
        font-size: 18px !important;
        margin-top: 20px;
    }



    .wishlist_icon_container {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 8px;
        border-radius: 40px;
        background-color: rgb(247, 243, 235, 0.6);
        backdrop-filter: blur(1px);
        transition-duration: 0.3s;
    }

    /* contact us  */

    .map iframe {
        height: 220px;
        width: 100%;
    }

    /* footer  */

    .footer_icon {
        font-size: 20px;
    }

    .footer_svg {
        height: 20px;
        width: 20px;
    }
}