* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #523014;
    --primary-background: #F7F3EB;
    --secondary-background: hsl(40, 43%, 91%);
    --dark-background: #2F281E;
    --hover-background: hsl(39, 42%, 97%);
    --gold: #B88A43;
}

body {
    font-family: "Vazirmatn", sans-serif;
    background-color: var(--primary-background);
    color: var(--text-color);
}

.ltr {
    direction: ltr;
    unicode-bidi: isolate;
}

.text_gold {
    color: var(--gold);
}

.text-color-brown {
    color: var(--text-color);
}


.nav-link:hover {
    color: #B88A43;
}

.line {
    height: 1px;
    width: 100%;
    border-top: 1px solid var(--gold);
}

.gold_btn {

    text-decoration: none;
    color: var(--primary-background);
    background-color: var(--gold);
    padding: 15px 20px;
    border-radius: 7px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.3s;
}

.gold_btn:hover {
    background-color: hsl(36, 47%, 35%);
    color: var(--primary-background);
}

/* main nav */
.search_box {
    border: 1px solid hsl(0, 0%, 80%);
    height: 50px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
}

.search_box:focus {
    outline: 1px solid var(--gold);
}

.search_btn {
    background-color: white;
    border-color: hsl(0, 0%, 80%);
    border-right: transparent;
    border-radius: 20px;
    transition-duration: 0.3s;
}

.search_btn:focus {
    background-color: var(--hover-background);
    outline: 1px solid var(--gold);
    border: 1px solid hsl(0, 0%, 80%);
    border-right: 0;
}

.search_btn:hover {
    border-color: hsl(0, 0%, 80%);
    background-color: var(--hover-background) !important;
}

.extra_navlinks {
    text-decoration: none;
    color: var(--gold);
    transition-duration: 0.3s;
}

.extra_navlinks:hover {
    color: var(--text-color);
}


/*  mini nav */
.mini_nav {
    background: rgba(47, 40, 30, 0.95);
    backdrop-filter: blur(8px);
    color: var(--gold);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateY(-100%);
    transition-duration: 0.3s;
    width: 100%;

    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
}

.mini_nav.show {
    transform: translateY(0);
}

.search_box_mini {
    border: 1px solid hsl(0, 0%, 80%);
    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
}

.search_box_mini:focus {
    outline: 1px solid var(--gold);
}

.search_btn_mini {
    background-color: white;
    border-color: hsl(0, 0%, 80%);
    border-right: transparent;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.search_btn_mini:focus {
    background-color: var(--hover-background);
    outline: 1px solid var(--gold);
    border: 1px solid hsl(0, 0%, 80%);
    border-right: 0;
}

.nav_link_mini:hover {
    color: var(--secondary-background);
}

.search_btn_mini:hover {
    border-color: hsl(0, 0%, 80%);
    background-color: var(--hover-background) !important;
}

.extra_navlinks_mini {
    text-decoration: none;
    color: var(--gold);
    transition-duration: 0.3s;
}

.extra_navlinks_mini:hover {
    color: var(--secondary-background);
}


/* hero */
.hero {
    text-align: center;
    height: 87vh;
    background-image: url(../imgs/hero.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.hero_title {
    font-size: 50px;
}


/* about us  */
.about_us_img {
    border-radius: 5px;
    border: 2px solid white;
}

.outline_gold_btn {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-background);
    border: 1px solid var(--gold);
    padding: 10px 35px;
    border-radius: 7px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.3s;
}

.outline_gold_btn:hover {
    color: var(--text-color);
    background-color: hsl(40, 43%, 99%);
}


/* select with size */
.select_size_item {
    color: var(--text-color);
    text-decoration: none;
    border: 2px solid rgba(187, 139, 68, 0.15);
    border-radius: 8px;
    transition-duration: 0.3s;
}

.select_size_item:hover {
    border-color: var(--gold);
    color: var(--text-color);
}


/* special carpets */
.product_card {
    border-radius: 8px;
    color: var(--text-color);
    text-decoration: none;
    border: 1px solid rgba(187, 139, 68, 0.15);
    border-radius: 8px;
    transition-duration: 0.3s;
    position: relative;
}

.product_card:hover {
    border-color: var(--gold);
    color: var(--text-color);
    background-color: var(--hover-background);
}

.product_img_container {
    background-color: rgba(187, 139, 68, 0.15);
    border-radius: 8px;
    height: 320px;
    overflow: hidden;
}

.product_img {
    height: 400px;
    transition: transform 0.4s ease;
}

.product_img:hover {
    transform: scale(1.15);
}

.wishlist_icon_container {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px;
    border-radius: 40px;
    background-color: rgb(247, 243, 235, 0.6);
    backdrop-filter: blur(1px);
    transition-duration: 0.3s;
}


.wishlist_icon_container:hover {
    background-color: rgb(247, 243, 235, 0.9);
}


.carpet_features {
    background-color: var(--secondary-background);
    border-radius: 8px;
    border: 2px solid hsl(40, 43%, 88%);
}


.carpet_features .col-3:not(:last-child) .carpet_feature {
    border-left: 2px solid hsl(40, 43%, 80%);
}

.carpet_cta {
    width: 100%;
    background-color: var(--secondary-background);
    border-radius: 8px;
    border: 2px solid hsl(40, 43%, 88%);
    overflow: hidden;
}

.telephone_icon {
    font-size: 80px;
}

.cta_background1 {
    filter: opacity(0.15);
}

.cta_background2 {
    transform: rotate(180deg);
    filter: opacity(0.15);
}


/* contact us */
.contact_us_phone {
    border-radius: 40px;
    border: 1px solid var(--gold);
}

.map iframe {
    border-radius: 8px;
}

.map {
    border: 2px solid hsl(40, 43%, 88%);
    border-radius: 8px;
}


/* footer  */
footer {
    background-color: var(--dark-background);
    color: var(--primary-background);
    overflow: hidden;
}

.footer_links .footer_link_item {
    text-decoration: none;
    color: var(--primary-background);
    transition-duration: 0.3s;
}

.footer_links .footer_link_item:hover {
    color: var(--gold);
}

footer .footer_links_col {
    border-left: 1px solid rgb(184, 138, 67, 0.2);
}

.footer_links_social .social_link_item {
    font-size: 25px;
    text-decoration: none;
    color: var(--gold);
    transition-duration: 0.3s;
}

.footer_links_social .social_link_item:hover {
    color: var(--primary-background);
}

.social_link_item div {
    padding: 10px;
    border-radius: 40px;
    border: 1px solid var(--gold);
}

.footer_bottom {
    border-top: 2px solid rgb(184, 138, 67, 0.4);
}

.footer_background1 {
    filter: opacity(0.2);
}

.footer_background2 {
    filter: opacity(0.2);
    transform: rotate(180deg);
}



/*------------------ responsive -----------------*/
@media (max-width: 1399.98px) {

    /* special carpets  */
    .product_img_container {
        height: 250px;
    }

    .product_img {
        height: 300px;
    }
}

@media (max-width: 1199.98px) {

    /* about us  */
    .about_us_p {
        font-size: 15px !important;
    }

    /* select by size */
    .select_size_item_size {
        font-size: 18px !important;
    }

}

@media (max-width: 991.98px) {
    .brand_name h1 {
        font-size: 32px;
    }

    .brand_name span {
        font-size: 13px;
    }

    .logo img {
        width: 50px;
    }

    /* hero  */
    .hero {
        background-position: 40% center;
    }

    .hero_content h1 {
        font-size: 40px;
    }

    .hero_title2 {
        font-size: 20px !important;
    }

    .hero_content p {
        font-size: 14px;
    }

    .hero_btn span {
        font-size: 16px;
    }

    /* about us  */
    .about_us_title {
        font-size: 26px !important;
    }

    .about_us_p {
        font-size: 12px !important;
        margin-bottom: 5px;
    }

    .about_us_line {
        margin: 5px 0px !important;
    }

    .about_us_btn span {
        font-size: 15px;
    }

    /* select by size */
    .select_size_items {
        width: 70% !important;
    }

}

@media (max-width: 767.98px) {
    .brand_name h1 {
        font-size: 28px;
    }

    .brand_name span {
        font-size: 12px;
    }

    .logo img {
        width: 47px;
    }

    /* hero  */
    .hero {
        background-position: 35% center;
    }

    .hero_content h1 {
        font-size: 34px;
    }

    .hero_title2 {
        font-size: 17px !important;
    }

    .hero_content p {
        font-size: 11px;
    }

    .hero_btn span {
        font-size: 13px;
    }

    .hero_btn {
        padding: 12px 12px;
    }

    .hero_content {
        backdrop-filter: blur(1px);
        border-radius: 8px;
    }

    /* select by size */
    .select_size_items {
        width: 100% !important;
    }


    /* special carpets  */
    .product_img_container {
        height: 230px;
    }

    .product_img {
        height: 320px;
    }

}

@media (max-width: 575.98px) {
    .brand_name h1 {
        font-size: 24px;
        margin-bottom: 3px;
    }

    .brand_name span {
        font-size: 12px;
    }

    .logo img {
        width: 45px;
    }

    /* hero  */
    .hero {
        background-position: 25% center;
        height: 90vh;
    }

    .hero_content {
        backdrop-filter: blur(4px);
        border-radius: 8px;
        background-color: rgb(247, 243, 235, 0.5);
        padding: 20px;
        max-width: 230px;
    }

    .hero .row {
        width: 100%;
    }

    /* select by size */
    .select_size_item_title {
        font-size: 14px;
    }

    .select_size_item_size {
        font-size: 15px !important;
    }

    /* special carpets  */
    .product_img_container {
        height: 200px;
    }

    .product_img {
        height: 250px;
    }

    .product_body_title {
        font-size: 18px !important;
    }

    .product_body_detail {
        font-size: 12px;
    }

    .product_body_price {
        font-size: 14px !important;
    }
}