* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: hsl(27, 60%, 20%);
    --primary-background: #F7F3EB;
    --secondary-background: hsl(40, 43%, 91%);
    --hover-background: hsl(39, 42%, 97%);
    --gold: #B88A43;
}

body {
    font-family: "Vazirmatn", sans-serif;
    background-color: var(--primary-background);
    color: var(--text-color);
}

.ltr {
    direction: ltr;
    unicode-bidi: isolate;
}

.text_gold {
    color: var(--gold);
}

.text-color-brown {
    color: var(--text-color);
}

.text-color-gold {
    color: var(--gold);
}

.nav-link:hover {
    color: #B88A43;
}

.line {
    height: 1px;
    width: 100%;
    border-top: 1px solid var(--gold);
}

.gold_btn {

    text-decoration: none;
    color: var(--primary-background);
    background-color: var(--gold);
    padding: 15px 20px;
    border-radius: 7px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.3s;
}

.gold_btn:hover {
    background-color: hsl(36, 47%, 35%);
    color: var(--primary-background);
}

/* navbar */
.search_box {
    border: 1px solid hsl(0, 0%, 80%);
    height: 50px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
}

.search_box:focus {
    outline: 1px solid var(--gold);
}

.search_btn {
    background-color: white;
    border-color: hsl(0, 0%, 80%);
    border-right: transparent;
    border-radius: 20px;
    transition-duration: 0.3s;
}

.search_btn:focus {
    background-color: var(--hover-background);
    outline: 1px solid var(--gold);
    border: 1px solid hsl(0, 0%, 80%);
    border-right: 0;
}

.search_btn:hover {
    border-color: hsl(0, 0%, 80%);
    background-color: var(--hover-background) !important;
}

.extra_navlinks {
    text-decoration: none;
    color: var(--gold);
    transition-duration: 0.3s;
}

.extra_navlinks:hover {
    color: var(--text-color);
}



/* hero */
.hero {
    text-align: center;
    height: 87vh;
    background-image: url(../imgs/hero.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.hero_title {
    font-size: 50px;
}


/* about us  */
.about_us_img {
    border-radius: 5px;
    border: 2px solid white;
}

.outline_gold_btn {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-background);
    border: 1px solid var(--gold);
    padding: 10px 35px;
    border-radius: 7px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.3s;
}

.outline_gold_btn:hover {
    color: var(--text-color);
    background-color: hsl(40, 43%, 99%);
}


/* select with size */
.select_size_item {
    color: var(--text-color);
    text-decoration: none;
    border: 2px solid rgba(187, 139, 68, 0.15);
    border-radius: 8px;
    transition-duration: 0.3s;
}

.select_size_item:hover {
    border-color: var(--gold);
    color: var(--text-color);
}


/* special carpets */
.product_card {
    border-radius: 8px;
    color: var(--text-color);
    text-decoration: none;
    border: 1px solid rgba(187, 139, 68, 0.15);
    border-radius: 8px;
    transition-duration: 0.3s;
    position: relative;
}

.product_card:hover {
    border-color: var(--gold);
    color: var(--text-color);
    background-color: var(--hover-background);
}

.product_img_container {
    background-color: rgba(187, 139, 68, 0.15);
    border-radius: 8px;
    height: 320px;
    overflow: hidden;
}

.product_img {
    height: 400px;
    transition: transform 0.4s ease;
}

.product_img:hover {
    transform: scale(1.15);
}

.wishlist_icon_container {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px;
    border-radius: 40px;
    background-color: rgb(247, 243, 235, 0.6);
    backdrop-filter: blur(1px);
    transition-duration: 0.3s;
}


.wishlist_icon_container:hover {
    background-color: rgb(247, 243, 235, 0.9);
}


.carpet_features {
    background-color: var(--secondary-background);
    border-radius: 8px;
    border: 2px solid hsl(40, 43%, 88%);
}


.carpet_features .col-3:not(:last-child) .carpet_feature {
    border-left: 2px solid hsl(40, 43%, 80%);
}

.carpet_cta {
    width: 100%;
    background-color: var(--secondary-background);
    border-radius: 8px;
    border: 2px solid hsl(40, 43%, 88%);
    overflow: hidden;
}

.telephone_icon {
    font-size: 80px;
}

.cta_background1 {
    filter: opacity(0.15);
}

.cta_background2 {
    transform: rotate(180deg);
    filter: opacity(0.15);
}


/* contact us */
.contact_us_phone {
    border-radius: 40px;
    border: 1px solid var(--gold);
}

.map iframe {
    border-radius: 8px;
}

.map {
    border: 2px solid hsl(40, 43%, 88%);
    border-radius: 8px;
}


/* footer  */
footer {
    background-color: #2F281E;
    color: var(--primary-background);
    overflow: hidden;
}

.footer_links .footer_link_item {
    text-decoration: none;
    color: var(--primary-background);
    transition-duration: 0.3s;
}

.footer_links .footer_link_item:hover {
    color: var(--gold);
}

footer .footer_links_col {
    border-left: 1px solid rgb(184, 138, 67, 0.2);
}

.footer_links_social .social_link_item {
    font-size: 25px;
    text-decoration: none;
    color: var(--gold);
    transition-duration: 0.3s;
}

.footer_links_social .social_link_item:hover {
    color: var(--primary-background);
}

.social_link_item div {
    padding: 10px;
    border-radius: 40px;
    border: 1px solid var(--gold);
}

.footer_bottom {
    border-top: 2px solid rgb(184, 138, 67, 0.4);
}

.footer_background1 {
    filter: opacity(0.2);
}

.footer_background2 {
    filter: opacity(0.2);
    transform: rotate(180deg);
}